@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para navegadores basados en WebKit (como Chrome) */
*::selection {
  background-color: black;
  color: white;
}
/* Para navegadores basados en Gecko (como Firefox) */
*::-moz-selection {
  background-color: black;
  color: white;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del riel */
}

/* Manija de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la manija */
  border-radius: 5px; /* Radio de la manija */
}

/* Cuando se pasa el mouse sobre la manija */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color al pasar el mouse */
}

/* Cuando se hace clic en la manija */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.center-svg {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
